@charset "utf-8";

/** @section Font */
@font-face {
    font-family: "Red Hat Display";
    src: url("fonts/RedHatDisplay-VariableFont_wght.woff2") format(woff2) tech(variations);
    font-weight: 500 900;
    font-style: normal;
    font-display: swap;
}
