@charset "utf-8";
@use "../base/mixins" as *;

/** @section General typography */
body {
    font-family: var(--font);
    font-size: 1.6rem;
    font-weight: 500;
    @include css-media-queries($from-breakpoint: hero-multicol) {
        font-size: 1.8rem;
    }
}
