@charset "utf-8";

/** @section Button */
.button {
    font-size: 1.6rem;
    line-height: 1.5;
    font-weight: 900;
    color: var(--tertiary);
    background: var(--secondary-background);
    text-decoration: none;
    display: inline-block;
    box-sizing: border-box;
    min-block-size: 5.6rem;
    padding: 1.6rem 4rem;
    border-radius: 2.9rem;
    transition: background 300ms ease-in;
    &:hover,
    &:focus {
        background: var(--secondary-background-hover);
    }
    .app-version {
        color: var(--quinary);
    }
    &.secondary-button {
        background: var(--tertiary-background);
        &:hover,
        &:focus {
            background: var(--tertiary-background-hover);
        }
        .app-version {
            color: var(--hexary);
        }
    }
}
